
body {
    font-family: Arial, sans-serif;
    background-color: #ac34ac;
    margin: 0;
}

header {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#flashcard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

#vocabulary {
    font-size: 24px;
    margin-bottom: 10px;
}

#translationInput {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #151615;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #81a8db;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}
